.theme-default {
  .bs-datepicker-head {
    background: rgb(227,227,227);
    background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(170,170,170,1) 100%);
    background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%,rgba(170,170,170,1) 100%);
    background: linear-gradient(to bottom, rgba(227,227,227,1) 0%,rgba(170,170,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#aaaaaa',GradientType=0 );
  }

  .bs-datepicker-body {
    table {
      th {
        text-transform: capitalize;
      }

      td {
        span.selected,
        &.selected span,
        span[class*="select-"]:after,
        &[class*="select-"] span:after {
          background-color: @theme-gray;
        }

        &.week span {
          color: @theme-gray;
        }
      }
    }
  }
}