<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <input type="button" class="bnt btn-default btn-xs" value="Confirm" (click)="onClick()">&nbsp;
      <input type="button" class="bnt btn-default btn-xs" value="Alert" (click)="onClick2()">&nbsp;
      <input type="button" class="bnt btn-default btn-xs" value="Modal" (click)="onClick3()">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <smooth-dnd-container (drop)="onDrop($event)" lockAxis="y" dragClass="drag">
        <smooth-dnd-draggable *ngFor="let item of items">
          <div class="drag-item">
            {{item.data}}
          </div>
        </smooth-dnd-draggable>
      </smooth-dnd-container>
    </div>
  </div>
</div>
